<img src="assets/medChain.png" alt="Logo" class="logo-img">
<div class="app-container" class="div-mat-card ">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Compartilhamento de documentos</mat-card-title>
      <mat-card-subtitle>
        Compartilhe documentos médicos de forma segura e auditável
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper linear>
        <!-- Passo 1: Dados do emissor -->
        <mat-step label="Dados do Emissor" [completed]="!!connectedAccount()">
          <div *ngIf="connectedAccount()">
            <p>Conta do Emissor: {{ connectedAccount() }}</p>
          </div>
          <div class="mt-16">
            <button mat-button (click)="connect()">
              Conectar no MetaMask
            </button>
            <button *ngIf="connectedAccount()" mat-raised-button color="primary" matStepperNext>
              Próximo
            </button>
          </div>
        </mat-step>
        <!-- Passo 2: Upload do Arquivo -->
        <mat-step label="Upload do Arquivo" [completed]="selectedFile && docForm.valid">
          <ngx-file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)">

            <ng-template class="mt-mat-step" ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <div class="dropzone">
                <mat-icon>cloud_upload</mat-icon>
                <p>Arraste sua imagem aqui ou <a href="#" (click)="openFileSelector()">clique para selecionar</a></p>
              </div>
            </ng-template>
          </ngx-file-drop>

          <div *ngIf="filePreview()" class="preview mt-ngx-file">
            <img [src]="filePreview()" alt="Pré-visualização" />
          </div>
          <form [formGroup]="docForm" class="mt-mat-step">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nome do Documento</mat-label>
              <input matInput formControlName="docName" placeholder="Nome do Documento">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Descrição do Documento</mat-label>
              <input matInput formControlName="description" placeholder="Descrição do Documento">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tipo de Documento</mat-label>
              <mat-select formControlName="docType">
                <mat-option value="0">Exame</mat-option>
                <mat-option value="1">Laudo</mat-option>
                <mat-option value="2">Receita</mat-option>
                <mat-option value="3">Outro</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <div class="mt-16">
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="!selectedFile || !docForm.valid">
              Próximo
            </button>
          </div>
        </mat-step>
        <!-- Passo 3: Dados do Receptor -->
        <mat-step label="Dados do Receptor" [completed]="receiverForm.valid">
          <form [formGroup]="receiverForm" class="mt-mat-step">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Endereço do Receptor (Wallet)</mat-label>
              <input matInput formControlName="receiverAddress" placeholder="0x...">
            </mat-form-field>
            <div class="mt-16">
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-raised-button color="primary" matStepperNext [disabled]="!receiverForm.valid"
                (click)="loadContract()">
                Próximo
              </button>
            </div>
          </form>
        </mat-step>
        <!-- Passo 4: Metadados e Confirmação -->
        <mat-step label="Confirmação">
          <h3 class="mt-mat-step">Resumo dos Metadados</h3>
          <mat-list>
            <mat-list-item>
              <strong>Endereço do emissor:</strong>
              <span class="ml-mat-list">{{ connectedAccount() }}</span>
            </mat-list-item>
            <br>
            <mat-list-item>
              <strong>Endereço do Receptor:</strong>
              <span class="ml-mat-list">{{ receiverForm.value.receiverAddress }}</span>
            </mat-list-item>
            <br>
            <mat-list-item>
              <strong>Nome do Documento:</strong>
              <span class="ml-mat-list">{{ docForm.value.docName }}</span>
            </mat-list-item>
            <br>
            <mat-list-item>
              <strong>Tpo de Documento:</strong>
              @if(docForm.value.docType == '0') {
              <span class="ml-mat-list">Exame</span>
              } @else if(docForm.value.docType == '1') {
              <span class="ml-mat-list">Laudo</span>
              } @else if(docForm.value.docType == '2') {
              <span class="ml-mat-list">Receita</span>
              } @else {
              <span class="ml-mat-list">Outro</span>
              }

            </mat-list-item>
            <br>
            <mat-list-item>
              <strong>Timestamp:</strong>
              <span class="ml-mat-list">{{ timestamp | date:'short' }}</span>
            </mat-list-item>
            <br>
          </mat-list>
          <div class="mt-24">
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-raised-button color="accent" (click)="sendToken()">
              Enviar Token
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
    <mat-card-footer class="card-footer">
      MedChain
    </mat-card-footer>
  </mat-card>
</div>
<div class="loading-overlay" *ngIf="isLoading()">
  <mat-spinner diameter="60"></mat-spinner>
</div>

<!-- Seção de download por CID -->
<section class="download-section">
  <mat-card>
    <mat-card-content>
      <div class="download-form">
        <form [formGroup]="downloadForm" class="mt-mat-step">
          <mat-form-field appearance="outline" class="cid-field">
            <mat-label>CID do Arquivo</mat-label>
            <input formControlName="cid" matInput placeholder="Digite o CID do arquivo">
          </mat-form-field>
          <button mat-button [disabled]="!downloadForm.valid" (click)="retrieveFilePinata()">
            Baixar arquivo
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</section>